<!DOCTYPE html>
<html ng-app="postsApp">
<head>
    <title>Posts Editor</title>

    <link rel="stylesheet" type="text/css" href="/_static/plugins/pagespace-posts/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="/_static/plugins/pagespace-posts/styles.css" type="text/css" rel="stylesheet">

    <script src="/_static/plugins/pagespace-posts/pagespace-stub.js"></script>
    <script src="/_static/plugins/pagespace-posts/bower_components/angular/angular.min.js"></script>
    <script src="/_static/plugins/pagespace-posts/posts-editor.js"></script>
</head>
<body ng-controller="PostsController">
<div  class="container-fluid ps-edit-box" >
    <main class="main row">
        <div class="col-sm-12">
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="root" class="col-sm-2 control-label">Parent page</label>
                    <div class="col-sm-9">
                        <select ng-model="data.root" id="root" class="form-control">
                            <option value="" disabled selected>Select a root page</option>
                            <option ng-repeat="(id, name) in pages" value="{{id}}">{{name}}</option>
                        </select>
                        <p class="help-block">Only extract copy from subpages of this page</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="regionName" class="col-sm-2 control-label">Extract from region</label>
                    <div class="col-sm-9">
                        <select ng-model="data.regionName" id="regionName" class="form-control">
                            <option value="" disabled selected>Select a region</option>
                            <option ng-repeat="region in regions" value="{{region}}">{{region}}</option>
                        </select>
                        <p class="help-block">Extract copy from this region within pages</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="includeIndex" class="col-sm-2 control-label">Include Index</label>
                    <div class="col-sm-9">
                        <input type="number" id="includeIndex" class="form-control" placeholder="" ng-model="data.includeIndex" ng-disabled="!data.regionName">
                        <p class="help-block">Extract copy from includes at this index</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="emptyMessageHtml" class="col-sm-2 control-label">Nothing found message</label>
                    <div class="col-sm-9">
                        <input type="text" id="emptyMessageHtml" class="form-control" placeholder="" ng-model="data.emptyMessageHtml">
                        <p class="help-block">Show this message when no copy was found to aggregate</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Expired page settings</label>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label>
                                <input type="radio" name="expiry" ng-model="data.expiry" value="0" checked>
                                Show all pages
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="expiry"  ng-model="data.expiry" value="1">
                                Only show pages which have not expired
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="expiry"  ng-model="data.expiry" value="-1">
                                Only show expired pages
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="wrapperClass" class="col-sm-2 control-label">Wrapper Class</label>
                    <div class="col-sm-9">
                        <input type="text" id="wrapperClass" class="form-control" placeholder="" ng-model="data.wrapperClass">
                        <p class="help-block">Render each web copy item with this CSS class</p>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

<footer class="footer">
    <button type="button" class="btn btn-primary" ng-click="save()">Save and close</button>
</footer>

</body>

</html>